main {
    border: 5px solid #ddd;
    width: 900px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -275px 0 0 -450px;

    h1 {
        font-size: 1.5rem;
        margin: 0.25em;
    }

    h2 {
        font-size: 1.25rem;
        margin: 0.25em;
    }

    footer {
        width: 100%;
        height: 70px;
        display: block;
        background-color: #eee;
        border-top: 5px solid #ddd;
        position: absolute;
        bottom: 0;

        & > .row,
        .col-1,
        .col-1 * {
            height: 100%;
        }

        hr {
            border: 0;
            margin: 0.2em 0;
        }

        span + span {
            margin-left: 2em;
        }

        .btn {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 0;

            i {
                font-size: 2em;
                margin-top: 0.25em;
            }
        }
    }
}

#grid {
    .col {
        height: 215px;
    }
}

.img-placeholder {
    border: 1px solid #ddd;

    &.bb-0 {
        border-bottom: 0;
    }

    &.bt-0 {
        border-top: 0;
    }
}

hr {
    border-width: 5px 0 0 0;
}

.progress {
    position: relative;
    top: 5px;
}

.list-group {
    max-height: 247px;
    overflow: auto;

    .list-group-item {
        padding: 0.25rem 0.35rem;

        .badge {
            float: right;
            margin-top: 4px;
        }
    }
}
